 @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap'); 
 
 *{
    font-family: 'Kanit', sans-serif;
}
    body{
        background-color: antiquewhite;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .container{
        width: 400px;
    }
    .form{
        padding: 30px 40px;
    }
    h3{
        text-align: center;
       
    }
    .form-textincontrol{
            color: black;
            position: relative;
            margin-bottom: 10px;
            padding-bottom: 20px;
    }
    .form-textincontrol label{
        display: block;
        margin-bottom: 10px;
    }
    .form-textincontrol input{
        border: 2px solid #f0f0f0;
        border-radius: 6px;
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
    .form-textincontrol input:focus{
       border-color: darkseagreen;
    }
    .form-textincontrol.error input{
        border-color: red;
     }
     .form-textincontrol.success input{
        border-color:greenyellow;
     }
     .form-textincontrol small{
        color: red;
        position: absolute;
        bottom: 0;
        left: 0;
        visibility: hidden;

    
     }
     .form-textincontrol.error small{
        visibility: visible;
     }
     .form button {
        cursor:pointer;
        border: 3px;
        margin-top: 10px;
        margin-left: 10px;
        width: 100%;
        display: block;
        padding: 10px;
       
     }

